*{
    box-sizing: border-box;
}
@font-face {
    font-family: "candara";
    src: url("../fonts/candara.TTF");
}

@font-face {
    font-family: "verdana";
    src: url("../fonts/verdana.ttf");
}
body{
    margin: 0;
    padding: 0;
    font-family: "candara";
    scroll-behavior: smooth;
    font-size: 1.2em;
    position: relative;
}
h1{
    font-family: "verdana";
}
header{
    width: 100%;
    height: 71px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background-color: aliceblue;
    position: fixed;
    top: 0;
}

main{
    display: flex;
    margin-top: 60px;
}

article{
    width: 80%;
    padding: 10px 20px;
}

article img{
    width: 100%;
}
aside{
    position: relative;
    padding: 0 10px;
}
.ctn-aside{
    position: sticky;
    top: 10%;
}
.ctn-aside ul{
    padding:0;
    list-style: none;
    margin: 0;
}

.ctn-aside a{
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 20px 0;
}
.ctn-aside a:hover{
    color: blue;
}


h1#scheduler {
    font-size: 1.5em;
}
table {
    border: 1px solid;
    border-collapse: collapse;
}

th {
    border: 1px solid;
    padding: 10px;
    text-transform: uppercase;
}

td {
    border: 1px solid;
    padding: 5px;
}

img {
    border: 1px solid;
}
li {
    width: 100%;
    height: auto;
    padding: 8px 0px;
}

h2#table-of-contents {
    margin-bottom: 5px;
}
h3,h2{
    padding-top: 80px;
}